:host {
  font-size: 0.8em;
  height: 100%;
}
#container {
  height: 100%;
  overflow: auto;
  // display: flex;
  // flex-direction: column;

  .scroll-container {
    overflow: auto;
    max-height: 58vh;
  }
  .add-by-mail {
    display: flex;
    width: 100%;
    font-size: 1.3em;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;

    #invitee_icon {
      display: flex;
      width: 30px;
      height: 30px;
      font-size: 30px;
    }
  }
}

.removeButton {
  position: absolute;
  top: -8px;
  right: 5px;
}

hr {
  margin: 20px;
}

.buttons {
  position: relative;

  width: 100%;
  display: flex;
  justify-content: space-around;
  .clearButton {
  }

  .sendButton {
  }
}
