<div id="container">
  <ul>
    <li *ngFor="let invited of data.invitedContacts()">
      {{ invited.name | fullName }}

      <div class="email">
        {{ invited.email }}
      </div>
      <button
        mat-icon-button
        color="accent"
        class="removeButton"
        (click)="removeInvitation(invited)"
      >
        <mat-icon>close</mat-icon>
      </button>
    </li>
  </ul>

  <button
    *ngIf="data.invitedContacts().size > 0"
    mat-raised-button
    class="sendButton"
    (click)="sendInvitations()"
  >
    Send
  </button>
</div>
