<div id="container">
  <div *ngIf="invitationService.invitedContacts().size > -1" class="title">
    <div class="add-by-mail">
      <app-search
        placeholder="invite by e-mail"
        icon="mail"
        (command)="inviteByMail($event)"
      ></app-search>
      <app-button [primary]="true">
        {{ "BUTTONS.INVITE" | translate }}
      </app-button>
    </div>

    <app-separator text="INVITE_LIST.TITLE"></app-separator>

    <app-list [data]="invitationService.invitedContacts()">
      <ng-template #content let-rowData>
        <button
          mat-icon-button
          color="accent"
          class="removeButton"
          (click)="removeInvitation(rowData)"
        >
          <mat-icon>close</mat-icon>
        </button>
      </ng-template>
    </app-list>

    <hr />
    <div class="buttons">
      <button
        [disabled]="invitationService.invitedContacts().size === 0"
        mat-raised-button
        class="clearButton"
        (click)="clearAllInvitations()"
      >
        {{ "BUTTONS.CLEAR" | translate }}
      </button>
      <app-button
        [disabled]="invitationService.invitedContacts().size === 0"
        [primary]="true"
        text="BUTTONS.SEND"
        (click)="sendInvitations()"
      >
        {{ "BUTTONS.SEND" | translate }}
      </app-button>
    </div>
  </div>
</div>
