:host {
  font-size: 0.8em;
  height: 100%;
}
#container {
  height: 100%;
  // display: flex;
  // flex-direction: column;
  #invitee_icon {
    width: 30px;
    height: 30px;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 10px;
  }
}

.removeButton {
  position: absolute;
  top: -8px;
  right: 5px;
}

hr {
  margin: 20px;
}

.buttons {
  position: relative;

  width: 100%;
  display: flex;
  justify-content: space-around;
  .clearButton {
  }

  .sendButton {
  }
}
