body {
  // Primary
  --primary-color: #0f586f;
  --primary-lighter-color: #2cabd3;
  --primary-darker-color: #084153;
  --text-primary-color: #{$dark-primary-text};
  --text-primary-lighter-color: #{$dark-accent-text};
  --text-primary-darker-color: #{$dark-primary-text};

  --header-height: 3.1em;
  --tabs-height: 2em;
  --sidebar-max-width: 70px;
  --sidebar-min-width: 70px;
  --bills-min-height: 60px;
  --menu-container-width: 70%;

  --grid-border-color: #dee2e6;
  --bg-color: #fafafa;
  --icon-bg-color: #fafafa16;
  --light-bg-color: white;
  --mdc-snackbar-container-color: #f96429;
  --notification: #f96429;
  // --tab-bg-color: #($dark-background);
  --header-bg-color: rgb(250, 240, 230);
  // --lighter-bg-color: #($dark-bg-lighter-30);
  --header-text-color: #aaaaaa;
  --header-text-active-color: #ffffff;

  //  --unread-message: #ebfaff,
  // --mouse-over-on-primary: #1e94ba,
  // --menu-color: #0f586f,
  // --highlight: #0f586f,
  // --link: #177998,
  // --toggle: #177998,
  // --headlines: #235565,
  // --notifications: #f96429,
  // --text-on-notification: #ffffff,
  // --white-background: #ffffff,
  // --grey-background: #efefef,
  // --button-outline: #c6c6c6,
  // --text: #5d5d5d,

  &.theme-dark {
    --primary-color: #0f586f; //#8a002a; //;
    --primary-lighter-color: #2cabd3;
    --primary-darker-color: #084153; //#63001e;
    --text-primary-color: #{$light-primary-text};
    --text-primary-lighter-color: #{$light-primary-text};
    --text-primary-darker-color: #{$light-primary-text};

    --grid-border-color: #0000001f;
    --bg-color: #404040;
    --light-bg-color: #393939;

    // --tab-bg-color: #($dark-background);
    --header-bg-color: #484848;
    // --lighter-bg-color: #($dark-bg-lighter-30);
    --header-text-color: #aaaaaa;
    --header-text-active-color: #ffffff;
  }
}
