$theme-value-map: (
  name: "default",
  // TODO: Check for a better naming convetion
  primary:
    (
      50: #ebfaff,
      100: #d7f2fb,
      200: #c1e9f7,
      300: #ace1f3,
      400: #98d9ef,
      500: #7ecfea,
      600: #2cabd3,
      700: #1e94ba,
      800: #177998,
      900: #0f586f,
      1000: #084153,
      1100: #042732,
    ),
  secondary: (
    50: #ffffff,
    100: #efefef,
    200: #e7e7e7,
    300: #dbdbdb,
    400: #d3d3d3,
    500: #c6c6c6,
    600: #838383,
    700: #737373,
    800: #5d5d5d,
    900: #4d4d4d,
    1000: #373737,
    1100: #181818,
  ),
  unread-message: #ebfaff,
  mouse-over-on-primary: #1e94ba,
  menu-color: #0f586f,
  highlight: #0f586f,
  link: #177998,
  toggle: #177998,
  headlines: #235565,
  notifications: #f96429,
  text-on-notification: #ffffff,
  white-background: #ffffff,
  grey-background: #efefef,
  button-outline: #c6c6c6,
  text: #5d5d5d,
);
