<mat-tab-group animationDuration="0ms">
  <mat-tab label="Contacts">
    <!-- <ng-container *ngFor="let contact of dataService.contacts | async">
      <div class="contactRow">
        {{ contact.name | fullName }} {{ contact.email }}

        <button
          mat-flat-button
          color="accent"
          class="inviteButton"
          (click)="invite(contact)"
        >
          Invite
        </button>
      </div>
    </ng-container> -->
    <app-list [data]="dataService.contacts | async">
      <ng-template #content let-rowData>
        <button
          mat-flat-button
          color="accent"
          class="inviteButton"
          (click)="invite(rowData)"
        >
          Invite
        </button>
      </ng-template>
    </app-list>
  </mat-tab>
  <mat-tab label="Groups">
    <div *ngFor="let group of dataService.groups | async">
      <p>
        {{ group.name + ":  " + group.contacts.length + "records" }}
        <!-- <p>{{ group.email }}</p> -->
        <button mat-flat-button color="accent" (click)="inviteGroup(group)">
          Invite
        </button>
      </p>
    </div>
  </mat-tab>
</mat-tab-group>
