<ul>
  <li *ngFor="let rowData of data; trackBy: trackById">
    <!-- <div class="name" *ngIf="rowData?.name">
      {{ rowData?.name | fullName }}
    </div> -->

    <div class="email">
      {{ rowData.email || rowData }}
    </div>

    <ng-template
      [ngTemplateOutlet]="item"
      [ngTemplateOutletContext]="{ $implicit: rowData }"
    >
    </ng-template>
    <ng-template
      [ngTemplateOutlet]="content"
      [ngTemplateOutletContext]="{ $implicit: rowData }"
    ></ng-template>
  </li>
</ul>
